/* ================================ */
/* 1. Selectors & Basic Properties - Hero Section */
/* ================================ */
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", Times, serif;
    background-color: #f7f7f7;
    color: #333;
}

.hero{
    padding: 100px;
}

.hero__title{
    color: black;
}

.hero__description{
    color: #81da76;
}

.hero__highlight{
    color: #dbfbe0;
}
/* ================================ */
/* 2. Fonts - Features Section */
/* ================================ */

.features{
    padding: 100px;
}

.feature__item{
   padding: 30px 0;
}

.feature__title{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #23c93c;
    margin-bottom: 30px;
    text-decoration: underline;
}


/* ================================ */
/* 3. Colors - Call to Action Section */
/* ================================ */
.cta{
    padding: 100px;
    background-color: #5bb471;
    text-align: center;
    color: #fff;
}

.cta__description{
    padding: 15px 0;
    color: #dbdbdb;
}

button{
    color: none;
    border: none;
}
.cta__button{
    padding: 10px 20px;
}

/* <--4. Box Model - video section -->*/

.video{
    text-align: center;
    padding: 100px;
    font-weight: 500;
}

.video__title{
    font-size: 32px;
    font-weight: 500;
}

.video__description{
    margin-top: 10px;
    font-weight: 300;
    color: #6e6e6e;
} 

.video__controls{
    margin-top: 20px;
}

.video__button{
    border: 1px dotted #5bb471;
    background: none;
    padding: 10px 20px;
}

.video__button__first{
    margin-right: 10px;
}

.video__container{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: #ccc;
    box-shadow: 1px 4px 7px 4px rgba(0, 0, 0, 0.33);
}
/* ================================ */
/* 5. Flex - Programs Section */
/* ================================ */

/* ================================ */
/* 6. HTML Elements & Images - Form Section */
/* ================================ */

/* ================================ */
/* 8. Images and Final Styling */
/* ================================ */

/* ================================ */
/* 9. Navbar and Footer Section */
/* ================================ */
