/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

section {
  padding: 6rem 0;
}

section h2 {
  margin-bottom: 2rem;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 4rem;
}

/* TEMPORARY - Remove after adding all the styles */
/* img {
  display: block;
  width: 100px;
  height: 100px;
} */

/* 1. Flex - Header Navigation */

.header{
  background-color: #1d1d1d;
  color: #fff;
  padding: 1.5rem 4rem;
}

.header-logo{
  font-size: 1.5rem;
  font-weight: bold;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.header-links{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header-links a{
  text-decoration: none;
  color: #fff;
}

.header-links a:hover{
  color: #9c9c9c;
  cursor: pointer;
}
/* 2. Flex and Column - Featured Section */
.featured{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 600px;
}

.featured-image{
  flex-basis: 50%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.featured-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-content{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.featured-more{
  color: #fff;
  background-color: #1d1d1d;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
}

.featured-more:hover{
  background-color: #414141;
  color: #d9d8d8;
  cursor: pointer;
}

.featured-footer{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.featured-content p{
  color: #4d4d4d;
}
/* 3. Flex/Grid List - Latest Cards */
.latest-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 auto;
}
.latest-card{
  height: 500px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: none;
}

.latest-card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.latest-content{
  padding: 1.5rem;
}

.latest-content h3{
  margin-bottom: 1.5rem;
}

.latest-content p{
  color: #666;
  margin-bottom: 1.5rem;
}

.latest-more{
  text-decoration: none;
  padding-right: 1.5rem;
  font-weight: bold;
}
/* 4. Flex/Grid 2D - Hot News */
.hot{
  background: #1d1d1d;
  color: #fff;
}

.hot-title{
  margin-bottom: 1rem;
}

.hot-subtitle{
  color: #666;
  margin-bottom: 2rem;
}
/* 4a. Flex/Grid 2D - Hot News - Flex Version */

/* 4b. Flex/Grid 2D - Hot News - Grid Version */



.hot-card {
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.hot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.hot-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 600px;
}

.hot-grid-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.hot-grid-2 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-3 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-4 {
  grid-column: span 2;
  grid-row: span 1;
}

/* 5. Grid - Masonry Layout */
.masonry{
  padding: 4rem 1rem;
  background: #fff;
}

.masonry-subtitle{
  margin-bottom: 2rem;
  color: #666;
}

.masonry-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  max-width: none;
  margin: 0 auto;
}

.masonry-item{
  background-color: #e0e0e0;
  border-radius: 8px;
}

.masonry-grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.item1{
grid-column: span 1;
grid-row: span 2;
}

.item2{
  grid-column: span 2;
  grid-row: span 2;
}

.item3{
  grid-column: span 1;
  grid-row: span 1;
}

.item4{
  grid-column: span 1;
  grid-row: span 1;
}

.item5{
  grid-column: span 2;
  grid-row: span 1;
}

.item6{
  grid-column: span 4;
  grid-row: span 1;
}

.item7{
  grid-column: span 1;
  grid-row: span 1;
}
/* 6. Grid Templates - News Gallery */
.gallery{
  padding: 4rem 1rem;
  background: #fff;
}

.gallery-subtitle{
  margin-bottom: 2rem;
  color: #666;
}

.gallery-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 200px);
  gap: 1rem;
  margin: 0 auto;
}

.gallery-grid img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gallery-item{
   background-color: #e0e0e0;
  border-radius: 8px;
}

.a{
  grid-column: span 1;
  grid-row: span 1;
}

.b{
  grid-column: span 2;
  grid-row: span 1;
}

.c{
  grid-column: span 1;
  grid-row: span 2;
}

.d{
  grid-column: span 1;
  grid-row: span 1;
}

.e{
  grid-column: span 2;
  grid-row: span 2;
}

.f{
  grid-column: span 1;
  grid-row: span 1;
}

.g{
  grid-column: span 1;
  grid-row: span 1;
}

.h{
  grid-column: span 2;
  grid-row: span 2;
}

.i{
  grid-column: span 1;
  grid-row: span 2;
}

.j{
  grid-column: span 1;
  grid-row: span 1;
}

.k{
  grid-column: span 1;
  grid-row: span 2;
}

.l{
  grid-column: span 1;
  grid-row: span 1;
}

.m{
  grid-column: span 1;
  grid-row: span 1;
}

.n{
  grid-column: span 2;
  grid-row: span 1;
}
/* 7. Images and Styling */
